<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:fragment="header" class="container">
    <!-- this is header -->
    <nav class="navbar-inverse">
        <div class="">

            <table class="table">
                <tr>
                    <td><a th:href="@{/}">Home</a></td>
                    <td><a th:href="@{/admin/products}">Products</a></td>
                    <td><a th:href="@{/admin/categories}">Categories</a></td>
                    <td><a th:href="@{/admin/createuser}">Create User</a></td>
                    <td><a th:href="@{/login}">Login</a></td>
                    <!--<td><a th:href="@{'/categorys/' + ${category.id}}">Info</a></td>-->
                </tr>
            </table>

        </div>
    </nav>
</div>

</body>
</html>